<div class="modal fade" id="loading_modal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="alert alert-info" id="loading_modal_content">
        Loading...
      </div>
    </div>
  </div>
</div>