<div class="modal fade" id="loading_modal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="alert alert-info">
        <span id="loading_modal_content">
          Loading...
        </span>
        <button type="button" class="close" id="dismiss_loading_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</div>