@import 'bootstrap-sprockets';
@import 'bootstrap';

/* general */

.center {
    text-align: center;
}

body {
    background: #F5F5DC !important;
}

.alert {
    margin-bottom: 0
}

/* loading animation */

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

/* Home Page */

.jumbotron {
    margin-top: 25px;
    max-height: 100%;
}

#title {
    position: absolute;
    top: 35%;
    left: 20%;
    color: white;
    h1 {
        font-size: 450%;
        @media screen and (max-width: $screen-xs-min) {
            font-size: 400%;
        }
    }
    h1 {
        text-shadow: 1px 1px 1px #000;
    }
    @media screen and (max-width: $screen-xs-min) {
        left: 15%;
    }
    @media screen and (min-width: $screen-lg-min) {
        left: 23%;
    }
}

/* Images */

#image_controls {
    margin-top: 20px;
}

.picture_frame {
    background: #FFF;
    box-shadow: 10px 10px 5px;
    position: relative;
    padding: 15px;
    margin-top: 15px;
}

.picture_frame img {
    width: 100%;
}

#image_controls {
    font-size: 1.5em;
    width: 100%;
    ul {
        text-align: justify;
        line-height: 0;
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;
        li {
            display: inline-block;
            line-height: 100%;
            .main {
                font-size: 1.75em;
            }
            &:hover {
                color: #08c;
                cursor: pointer;
                cursor: hand;
            }
        }
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }
}

#image_submit_button {
    display: block;
    vertical-align: middle;
}

#image_container:hover .rect {
    opacity: .75;
    transition: opacity .75s ease-out;
}

.rect {
    border-radius: 2px;
    border: 3px solid white;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    left: -1000px;
    opacity: .25;
    position: absolute;
    top: -1000px;
  }

/* Forms */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}