<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3
                col-md-6 col-md-offset-3
                col-sm-8 col-sm-offset-2">
      <div class="picture_frame">
        <%= image_tag 'front_page.jpg' %>
        <span id="title" class="center">
          <h1>Faceblurd</h1>
          <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#image_upload_modal">
            Anonymize yourself!
          </button>
        </span>
      </div>

      <div id="image_controls">
        <%= render 'image_upload_modal' %>
      </div>
    </div>
  </div>
</div>
