.container
  .jumbotron
    .row
      .col-md-6
        #image_container
          = image_tag @image_url, id: 'image'
      .col-md-5.col-md-offset-1
        = form_tag images_path, method: :post do
          .input-group
            = select_tag :blur_type,
                         options_for_select(%w('Gaussian', 'Other')),
                         class: 'form-control'
            = submit_tag 'Blur', class: 'btn btn-primary'