.container
  .jumbotron
    %h1.center
      Faceblurd
    %h3.center
      The fast, fun, and easy way to anonymize your pictures
    .row
      .col-md-6.col-md-offset-3
        .h4 Get image from URL
        = form_for @image do |f|
          .input-group
            = f.text_field :remote_file_url, class: 'form-control',
                                             placeholder: 'image.url'
            %span.input-group-btn
              = f.submit 'Fetch', class: 'btn btn-primary'