<div class="modal fade" id="flash_modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" id="flash_content">
      <%= render 'layouts/flash_content' %>
    </div>
  </div>
</div>